<!DOCTYPE html>
<html>
    <head></head>
    <body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<strong>Error: </strong>{{messages[0]}}
		{% endif %}
	{% endwith %}
	<br /><br /><br />

        <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" />
        </form>
	<br /><br /><br />

	<form action="/download" method="POST">
		Enter the file name to download
		<input type="text" name="filename" />
		<input type="submit" value="start download" />
	</form>
	<br /><br /><br />
	
	<button onclick="window.location.href='/display'">Click to see all the files</button>
	<br /><br /><br />
	
	<form action="/delete" method="POST">
		Enter the file name to delete
		<input type="text" name="filename" />
		<input type="submit" value="DELETE" />
	</form>
    </body>
</html>
